[submodule "postgis2geojson"]
	path = postgis2geojson
	url = https://github.com/jczaplew/postgis2geojson.git


[submodule "make-modules"]
	path = make-modules
	url = https://github.com/WikimapsAtlas/make-modules.git

[submodule "node_modules"]
	path = node_modules
	url = https://github.com/WikimapsAtlas/node_modules.git
